.cart{
  width: 100%;
}
.cart-item-tittle{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: gray;
  font-size: max(1vw,12px);
}
.cart-items-item{
  margin: 10px 0;
  color: black;
}
.cart-items-item img{
  width: 50px;
  border-radius: 4px;
}
.cart hr{
  border: none;
  background-color:  #e2e2e2;
  height: 1px;
}
.cart-items-item .cross{
  cursor: pointer;
}
.cart-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: max(12vw,20px);
}
.cart-total{
  flex: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-detial{
  display: flex;
  color: #555;
  justify-content: space-between
  ;
}
.cart-total hr{
  margin: 10px 0px;
}
.cart-total button{
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: tomato;
  padding: 12px 0px;
  width: max(15vw,200px);
  
}
.cart-promocode{
  flex: 1;
}
.cart-promocode p{
  color: #555;
}
.cart-promocode-input{
  margin-top: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  
}
.cart-promocode-input input{
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.cart-promocode-input button{
  color: white;
  border: none;
  background-color: black;
  border-radius: 4px;
  padding: 12px 5px ;
  width: max(10vw ,150px);
}
@media (max-width:750px) {
  .cart-bottom{
    flex-direction: column-reverse
  }
  .cart-promocode{
    justify-content: start;
  }
  
}